#diagram {
  border: 1px solid #ccc;
  margin-top: 20px;
  background: #fafafa;
}


body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  font-family: sans-serif;
}

.controls {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.outer-circle {
  background: #3498db; /* blue */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  background: #e74c3c; /* red */
  border-radius: 50%;
}
